body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.request {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #f2f2f2;
}
.available {
    color: green;
    font-weight: bold;
}
.not-available {
    color: red;
    font-weight: bold;
}
form {
    margin-top: 10px;
}
select, input[type="submit"] {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 200px;
}
input[type="submit"] {
    background-color: #af4c4c;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #8245a0;
}
.view-calendar-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #23152c;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.view-calendar-button:hover {
    background-color: #005f75;
}